---
layout: home
---
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card mb-3">
      <div id="oracle-action-theme" class="card-header">
        <h2>Badlands Territorio</h2>
      </div>
      <div class="card-body">
        {% include rolling_table.html
                   title="Regiones"
                   key="oracle_badlands_regions"
                   data=site.data.oracle_badlands_regions %}
        {% include rolling_table.html
                   title="Terreno"
                   key="oracle_badlands_terrain"
                   data=site.data.oracle_badlands_terrain %}
        {% include rolling_table.html
                   title="Vida salvaje"
                   key="oracle_badlands_wildlife"
                   data=site.data.oracle_badlands_wildlife %}
      </div>
    </div>

    <div class="card mb-3">
      <div id="oracle-action-theme" class="card-header">
        <h2>Personanjes</h2>
      </div>
      <div class="card-body">
        {% include rolling_table.html
                   title="Rol"
                   key="oracle_character_role"
                   data=site.data.oracle_character_role %}
        {% include rolling_table.html
                   title="Descriptión"
                   key="oracle_character_description"
                   data=site.data.oracle_character_description %}
        {% include rolling_table.html
                   title="Disposición"
                   key="oracle_character_disposition"
                   data=site.data.oracle_character_disposition %}
        {% include rolling_table.html
                   title="Objetivo"
                   key="oracle_character_goals"
                   data=site.data.oracle_character_goals %}
        {% include rolling_table.html
                    title="Nombres Femeninos"
                    key="oracle_badlands_character_female_names"
                    data=site.data.oracle_badlands_character_female_names %}
        {% include rolling_table.html
                    title="Nombres Masculinos"
                    key="oracle_badlands_character_male_names"
                    data=site.data.oracle_badlands_character_male_names %}
        {% include rolling_table.html
                    title="Apellidos"
                    key="oracle_badlands_character_surnames"
                    data=site.data.oracle_badlands_character_surnames %}
        {% include rolling_table.html
                    title="Apodos"
                    key="oracle_badlands_character_niknames"
                    data=site.data.oracle_badlands_character_niknames %}
      </div>
    </div>

    <div class="card mb-3">
      <div id="oracle-action-theme" class="card-header">
        <h2>Guión</h2>
      </div>
      <div class="card-body">
        {% include rolling_table.html
                   title="Acción"
                   key="oracle_plot_action"
                   data=site.data.oracle_plot_action %}
        {% include rolling_table.html
                   title="Tema"
                   key="oracle_plot_theme"
                   data=site.data.oracle_plot_theme %}
        {% include rolling_table.html
                   title="Giro de Guión"
                   key="oracle_plot_twist"
                   data=site.data.oracle_plot_twist %}
        {% include rolling_table.html
                   title="Problemas con rituales"
                   key="oracle_plot_mystic_backlash"
                   data=site.data.oracle_plot_mystic_backlash %}
        {% include rolling_table.html
                   title="Acciones de Combate"
                   key="oracle_plot_combat_actions"
                   data=site.data.oracle_plot_combat_actions %}
      </div>
    </div>
  </div>
</div>
