---
title: Personaje - (Badlands) Nombres
---

<div class="row">
  <div data-controller="roll_oracle"
       data-roll_oracle-table-value="oracle-female-name">
      <img data-action="click->roll_oracle#roll"
           src="/badlands-companion/assets/d10.svg"
           style="height: 24px;">
      <div class="border-bottom" data-roll_oracle-target="result"></div>
  </div>

  <div class="col">
    <table id="oracle-female-name" class="oracle-table table table-sm table-striped table-hover">
       <thead class="undefined sticky-header">
        <tr>
          <th scope="col">1d100</th>
          <th scope="col">Mujer</th>
        </tr>
      </thead>
      <tbody>
        {% for row in site.data.oracle_badlands_character_female_names %}
          <tr>
            <th scope="oracle-table-row" data-key="{{row.key}}">{{row.key}}</th>
            <td class='oracle-table-value'>{{ row.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col">
    <table class="table table-sm table-striped table-hover">
      <thead class="undefined sticky-header">
        <tr>
          <th scope="col">1d100</th>
          <th scope="col">Hombre</th>
        </tr>
      </thead>
      <tbody>
        {% for row in site.data.oracle_badlands_character_male_name %}
          <tr>
            <th scope="row">{{row.key}}</th>
            <td>{{ row.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col">
    <table class="table table-sm table-striped table-hover">
      <thead class="undefined sticky-header">
        <tr>
          <th scope="col">1d100</th>
          <th scope="col">Apellidos</th>
        </tr>
      </thead>
      <tbody>
        {% for row in site.data.oracle_badlands_character_surname %}
          <tr>
            <th scope="row">{{row.key}}</th>
            <td>{{ row.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col">
    <table class="table table-sm table-striped table-hover">
      <thead class="undefined sticky-header">
        <tr>
          <th scope="col">1d100</th>
          <th scope="col">Apodos</th>
        </tr>
      </thead>
      <tbody>
        {% for row in site.data.oracle_badlands_character_nikname %}
          <tr>
            <th scope="row">{{row.key}}</th>
            <td>{{ row.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
