---
title: Guión - Action/Theme
---
<div class="row">
  <div class="col">
    <table class="table table-sm table-striped table-hover">
      <thead class="undefined sticky-header">
        <tr>
          <th scope="col">1d100</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for row in site.data.oracle_plot_action %}
          <tr>
            <th scope="row">{{row.key}}</th>
            <td>{{ row.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table table-sm table-striped table-hover">
      <thead class="undefined sticky-header">
        <tr>
          <th scope="col">1d100</th>
          <th scope="col">Theme</th>
        </tr>
      </thead>
      <tbody>
        {% for row in site.data.oracle_plot_theme %}
          <tr>
            <th scope="row">{{row.key}}</th>
            <td>{{ row.value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
