<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script type="module">
    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()

    Stimulus.register("hello", class extends Controller {
      static targets = [ "name" ]

      greet() {
        const name = this.nameTarget.value
        console.log(`Hello, ${name}!`)
      }
    })

    Stimulus.register("oracle", class extends Controller {
      static targets = [ "result", "content" ]
      static values = {
        id: String
      }

      roll() {
        const result = Math.floor(Math.random() * 100) + 1;

        this.resultTarget.innerHTML = this.element
          .querySelector(`#${this.idValue}-${result} .oracle-value`)
          .innerHTML
      }
    })

    Stimulus.register("roll_oracle", class extends Controller {
      static targets = [ "result", "history", "clean_history" ]
      static values = {
        table: String
      }


      roll() {
        const result = Math.floor(Math.random() * 100) + 1;
        const values = Array
          .from(document.getElementById(this.tableValue).rows)
          .filter(row => row.cells[0].dataset.value <= result)

        if (this.historyTarget.innerHTML != '') {
          this.historyTarget.innerHTML = `,  ${this.historyTarget.innerHTML}`
        }
        this.historyTarget.innerHTML = this.resultTarget.innerHTML != '' ? `${this.resultTarget.innerHTML} ${this.historyTarget.innerHTML}` : ''

        const resultValue = values[values.length - 1].cells[1].innerHTML
        this.resultTarget.innerHTML = `(${result}) ${resultValue}`
        this.clean_historyTarget.classList.remove('d-none')
      }

      clean_history() {
        this.historyTarget.innerHTML = ''
        this.resultTarget.innerHTML = ''
        this.clean_historyTarget.classList.add('d-none')
      }
    })

    Stimulus.register("roll_move", class extends Controller {
      static targets = [
         "result_title",
         "result_move",
         "result_matches",
         "result_dices",
         "result_matches_strong_hit",
         "result_matches_miss",
         "strong_hit",
         "hit",
         "modifier",
         "miss",
         "clean_results"
        ]
      static values = {
        move: String,
        stat: Number,
        extra: Number
      }

      roll() {
        const modifier = this.modifierTarget.value && parseInt(this.modifierTarget.value) || 0
        const challenge_dices_result = this.d(10, 2)
        const action_die_result = this.d(6, 1)
        const roll_result = challenge_dices_result.reduce((acc, curr) => {
          return acc + (curr < (this.sum(action_die_result) + modifier) ? 1 : 0)
        }, 0) // 2: strong_hit, 1: hit, 0: miss
        const is_match_on_challenge_dices_result = challenge_dices_result[0] == challenge_dices_result[1]

        if(roll_result == 2){
          this.result_moveTarget.innerHTML = this.strong_hitTarget.innerHTML
        } else if(roll_result == 1){
          this.result_moveTarget.innerHTML = this.hitTarget.innerHTML
        } else if(roll_result == 0){
          this.result_moveTarget.innerHTML = this.missTarget.innerHTML
        } else {
          this.result_moveTarget.innerHTML = 'Error'
        }

        if(is_match_on_challenge_dices_result){
          if(roll_result == 2){
            this.result_matchesTarget.innerHTML = this.result_matches_strong_hitTarget.innerHTML
          } else {
            this.result_matchesTarget.innerHTML = this.result_matches_missTarget.innerHTML
          }
        }else{
          this.result_matchesTarget.innerHTML = ''
        }

        this.result_dicesTarget.innerHTML = `(${challenge_dices_result.join(', ')}) (${action_die_result[0]}+${modifier})`
        this.clean_resultsTarget.classList.remove('d-none')
      }

      clean_results() {
        this.result_moveTarget.innerHTML = ''
        this.result_matchesTarget.innerHTML = ''
        this.result_dicesTarget.innerHTML = ''
        this.result_matches_strong_hitTarget.innerHTML = ''
        this.result_matches_missTarget.innerHTML = ''

        this.clean_resultsTarget.classList.add('d-none')
      }

      d(faces, n) {
        return Array.from({length: n},() => (Math.floor(Math.random() * faces) + 1))
      }

      sum(array) {
        return array.reduce((acc, curr) => acc + curr, 0)
      }
    })
  </script>
</head>
